* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fira Mono, "Noto Serif SC", -apple-system, Roboto, Helvetica Neue, sans-serif;
}

@import "vue-transition";
@import url("//fonts.googleapis.com/css?family=Fira+Mono|Noto+Serif+SC&display=swap");
@import url("//at.alicdn.com/t/font_1656184_vbvakoyzibe.css");

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
