* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fira Mono, "Noto Serif SC", -apple-system, Roboto, Helvetica Neue, sans-serif;
}

@import "var";
@import url("//fonts.googleapis.com/css?family=Fira+Mono|Noto+Serif+SC&display=swap");
@import url("//at.alicdn.com/t/font_1656184_ko0d22fdbjo.css");
@import "vue-transition";


.window-content-container {
  width: 100%;
  height: 100%;
}