@import "mixin";


.window-content-header {
  $header-height: 42px;
  width: 100%;

  height: $header-height;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: $header-height;
  position: relative;
  text-align: center;

  .left-options,
  .right-options {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .repo-name {
    width: 100%;
    text-align: center;
    display: inline-block;
    @include single-line-ellipsis();
    padding: 0 $header-height*2;
  }

  .left-options {
    left: 0;
  }

  .right-options {
    right: 0;
  }
}


.icon-button,
.icon-no-hover {
  $button-size: 34px;
  $button-margin: 4px;
  display: inline-block;
  text-align: center;
  margin: $button-margin;
  @include circle-icon($button-size, $button-size * 0.5);
  cursor: pointer;
}

.icon-button:hover {
  background-color: rgba(black, 0.1);
}

input[type='checkbox'], input[type='radio'] {
  visibility: collapse;
  position: relative;

  &:before {
    visibility: visible;
    @include gen-absolute(-2px, -2px, -2px, -2px);
    border: 2px solid rgba(blue, .7);
  }

  &:checked:after {
    visibility: visible;
    @include gen-absolute(0, 0, 0, 0);
    width: 60%;
    height: 60%;
    margin: auto;
    background-color: rgba(blue, .4);
  }
}

input[type='radio'] {
  &:before {
    border-radius: 50%;
  }

  &:after {
    border-radius: 50%;
  }
}

input[disabled] {
  filter: grayscale(1);
}