@import "node_modules/include-media/dist/_include-media";

@mixin gen-flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin absolute-full() {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin gen-absolute($top, $right, $bottom, $left) {
  position: absolute;
  content: '';
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin single-line-ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin blur-bg($color: #C2E9FB, $opacity: 0.4) {
  backdrop-filter: blur(4px);
  background-color: rgba($color, $opacity);
}

@mixin circle-icon($size, $font-size) {
  height: $size;
  width: $size;
  border-radius: $size;
  line-height: $size;
  font-size: $font-size !important;

  &:hover {
    background-color: rgba(black, .1);
  }

  .iconfont {
    font-size: $font-size !important;
  }
}