@mixin tablet {
  //@media (min-width: 768px) and (max-width: 1024px) {
  @media (min-width: 768px) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content
  }
}

@mixin gen-flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin absolute-full() {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin gen-absolute($top, $right, $bottom, $left) {
  position: absolute;
  content: '';
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin single-line-ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}