* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fira Mono, "Noto Serif SC", -apple-system, Roboto, Helvetica Neue, sans-serif;
}

@import "var";
@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Noto+Serif+SC&display=swap");