$highlight-color: #0081FF;

// Dock
$dock-height: 56px;
$dock-border-radius: 12px;
$dock-margin: 12px;
$dock-entry-margin: 8px;
$dock-tooltip-background-color: #CBCBCF;

// Desktop
$desktop-entry-gap: 12px;